@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'MonumentBold';
  src: url('/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monument';
  src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Monument', sans-serif;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
}

.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-text {
  display: flex;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}
