@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'MonumentBold';
  src: url('/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monument';
  src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Monument', sans-serif;
}