@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

:root {

  --background-start-rgb: 225, 225, 184;
  --background-end-rgb: 52, 28, 0;
}

body {
  font-family: 'Monument', sans-serif;

  background:#341C00 ;
}

@font-face {
  font-family: 'MonumentBold';
  src: url('/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monument';
  src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



.scroll-container {
  width: 100%;
  overflow: hidden;
}

.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-text {
  display: flex;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}
